{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<main class="container-fluid p-1" >
        
    <section class="row my-4">

            <div class="col-12 ">

                    {% if search_results %}
                    <ul>
                        {% for result in search_results %}
                            <li>
                                <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                                {% with result.specific.main_image as main_image %}  
                                    {% image main_image class="img-fluid img-thumbnail" fill-300x200 %}
                                {% endwith %}

                                {{ result.specific.intro }}
                                {{ result.specific.body|richtext }}
                                {% if result.search_description %}
                                    {{ result.search_description }}
                                {% endif %}
                                
                            </li>
                        {% endfor %}
                    </ul>
            
                    {% if search_results.has_previous %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                    {% endif %}
            
                    {% if search_results.has_next %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                    {% endif %}
                {% elif search_query %}
                    No results found
                {% endif %}

            </div><!--End first column-->
    </section><!--end section.row-->
</main><!--end main.container-fluid-->
 
{% endblock %}
