.bg-nav-soins {
background-color:#F48FB1;
}
.bg-image {
  /* background-image: url(../img/light-1282314_1920.jpg); */
background-image: url(../img/Font-Site.jpg);
background-repeat: no-repeat;
background-size: cover;
}