<!DOCTYPE html>
{% load i18n %}

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136628897-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136628897-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    {% load wagtailcore_tags wagtailimages_tags %}
   
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/soin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}" media="all">
<!--     
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet"> -->
    

  </head>
  <body style="padding-top:70px; padding-bottom: 70px;">
    <header class="navbar navbar-expand-md navbar-dark bg-nav-soins fixed-top">
        <a href="#" class="navbar-brand font-weight-bold">Sweety Beauty
           {% comment %}
           <img src="{% static 'img/VanEsthetique_logo.jpg' %}" alt="Logo" width="80" height="50">
           {% endcomment %}
        </a><!--end a.navbar-brand-->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#contenu-bar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="contenu-bar">
            <nav class="mr-auto">
               <ul class="navbar-nav">
                    <li class="nav-item font-weight-bold"><a href="{% url 'index' %}" class="nav-link"><i class="fas fa-home"></i>{% trans " Accueil" %}</a></li>
                    <li class="nav-item font-weight-bold"><a href="{% slugurl 'blog' %}" class="nav-link"><i class="far fa-newspaper"></i>{% trans " Blog" %}</a></li>
                    <li class="nav-item font-weight-bold"><a href="{% url 'contact' %}" class="nav-link"><i class="fas fa-envelope"></i>{% trans " Contact" %} </a></li>
               </ul><!--end ul.navbar-nav-->
            </nav>
         
            <form class="form-inline" id="searchForm" action="{% url 'search' %}" method="get">
                <div class="input-group">      
                   <input type="search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} class="form-control" placeholder="Rechercher" >
                   <div class="input-group-append">
                       <button class="btn btn-soin"><i class="fas fa-search"></i></button>
                   </div>
                </div><!--end div.input-group in form#searchForm-->
             </form><!--end form#searchForm-->
     
            <!-- <a href="#" class="nav-link text-white"><i class="fab fa-youtube blank"></i></a> -->
            <a href="#" class="nav-link text-white"><i class="fab fa-facebook-f blank"></i></a>        
        </div><!--end div#navbar-content.navbar-collapse-->
        
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
        
                <select class="selectpicker" name="language" style="width: auto;" onchange="this.form.submit()">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
        
                    <option
                        value="{{ language.code }}"
                        {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                        data-content='<img src="/static/img/flags/{{ language.code }}.gif"></span>
                        <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                          {{ language.name_local }}
                        </span>'>
                        {{ language.code }}
                    </option>
        
                  {% endfor %}
                </select>
            </form>
   </header><!--End header.navbar-->
  
<main>
<div class="bg-image">
{% block content %}{% endblock %}
</div>
</main>



<footer>
        <div class="container-fluid m-3">
            <div class="row img-fluid">
                <div class="col-12 text-center">
                    <p>Copyright &copy; <a href="http://www.angel-belando.fr">Angel Belando</a> {% trans "Pour" %} <a href="{% url 'index' %}">Sweety Beauty</a></p>
                </div>
            </div>
        </div>
</footer>

<!-- jQuery -->
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- fontawesomet -->
<script src="{% static 'js/fontawesome-all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
</body>
</html>