{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="bg-image">
    <div class="row d-flex border m-0 pt-5 pb-2">
        <div class="col-sm-12 col-lg-12">
                <p class="text-center color-soins h3">
                        {% trans "Esthéticienne diplômée vous propose les soins ci-dessous sur rendez-vous." %} <br>
                        <span>{% trans "Réservez dès maintenant par email" %}</span>
                        <a href="mailto:Vanessalea2017@gmail.com"> <i class="far fa-envelope"></i></a>
                        <span> {% trans "ou par téléphone " %} 
                        <a href="tel:+33611046341"><i class="fas fa-phone"></i></a>   
                            </span>     
                    </p>
        </div>
    
    </div>
{% include 'Liste_soins.html' with listeSoins_title='Nos soins' %}
</div>
{% endblock %}
